.App {
  font-family: sans-serif;
  text-align: center;
}
html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
}
.leaflet-container {
  position: absolute;
  background-color: #0e101c;
  height: 100%;
  width: 100%;
}

/* .leaflet-div-icon {
  background: transparent;
  border: none;
} */
